body {
  background: linear-gradient(
    to left,
    #a9e1dc,
    #c7ece5,
    #f5f9e8,
    #fadddd,
    #fbcfca,
    #fdbaba
  );
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.rights {
  /* margin-bottom: 5%; */
  font-size: 30px;
  margin-top: 28%;
  /* background-color: #e9731c; */
}
.one {
  margin-top: 3%;
}
table {
  height: 10vh;
  width: 35vw;
}
