<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='forgotpwd.css')}}"
    />
    <title>Document</title>
  </head>
  <body>
    <center>
      <div class="one-1">
        <h3>forgot Password.?</h3>
        <form method="post" class="formy-1">
          <label>Email</label>
          <input type="email" placeholder="enter email" name="mail" /><br />
          <button id="btn-1">Submit</button>
        </form>
      </div>
    </center>
    <center>
      <div class="rights-1">
        <h6 style="color: black">
          2025, Copyrights Sridevi Milinda, All Rights Reserved.
        </h6>
      </div>
    </center>
  </body>
</html>
