<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='register.css') }}">
</head>

</head>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    
    {% for message in messages %}
    <center>  {{ message }} </center>
    {% endfor %}
    
  {% endif %}
{% endwith %}
<body>
    <h2>Register</h2><br>
    <form method="POST">
        <label>Username:</label><br>
        <input type="text" name="username" required><br><br>

        <label>Email:</label><br>
        <input type="email" name="useremail" required><br><br>

        <label>Password:</label><br>
        <input type="password" name="password" required><br><br>

        <input type="submit" value="Register">
    </form>
</body>
</html>
